#htaccess文件是Apache服务器中的一个配置文件，它负责相关目录下的网页配置。
#通过htaccess文件，可以帮我们实现：网页301重定向、自定义404错误页面、改变文件扩展名、
#允许/阻止特定的用户或者目录的访问、禁止目录列表、配置默认文档等功能。
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1[QSA,PH,L]
</IfModule>